*.bin
*.o
*.elf
ipshared/
*_netlist.*
*_stub.*
*.dcp
*.veo
*.vho
*.hwh
*.hdf
thinpad_top.tmp/
thinpad_top.cache/
thinpad_top.hw/
thinpad_top.ip_user_files/
thinpad_top.runs/
thinpad_top.sim/sim_1/behav/xsim/
.Xil/
*.jou
*.log
*.dcp
/.lint/